[user]
	name = Tobias Schmidt
	useConfigOnly = true
	email = tobidt@gmail.com
[alias]
	co = checkout
	br = branch
	cm = commit
	ci = commit
	cia = commit -a --amend --no-edit
	df = ! git diff --color | diff-so-fancy | less
	lg = log --pretty='format:%C(yellow)%h%Creset %s %C(red)(%cr)%Creset %C(blue)by %an%Creset'
	s = status
	st = status -sb
	gp = push origin HEAD:refs/for/master
[color]
	ui = 1
	diff = auto
	branch = auto
[color "status"]
	added = green
	changed = yellow bold
	untracked = red bold
[apply]
	whitespace = nowarn
[branch]
	autosetupmerge = true
[push]
	default = current
[github]
	user = grobie
[core]
	editor = /usr/bin/code --wait
	excludesfile = ~/.gitignore
[gist]
	private = yes
[help]
	autocorrect = 1
[includeIf "gitdir:~/code/src/github.com/prometheus/"]
	path = ~/code/src/github.com/prometheus/.gitconfig
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	ff = only
